.button {
  padding: 15px 20px;
  background-color: #007bff;
  color: #fff;
  border: none;
  margin-top: 10px;
  margin-bottom: 10px;
  border-radius: 5px;
  cursor: pointer;
  margin-right: 10px;
}
